<%- include("partials/header"); -%> <!-- partials -->
    <h1 style="text-align: center; color: aqua;">About</h1>
    <hr>
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%> <!-- partials -->
